<!-- Begin Subscribe Section -->
<section id="subscribe" class="subscribe image-section parallax" style="background-image: url({{ site.baseurl_root }}/img/sections-background/{{ site.data.[site.lang].index.subscribe.image }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h3>{{ site.data.[site.lang].index.subscribe.title }}</h3>
            <div id="mc_embed_signup" class="col-lg-8 col-sm-8 col-lg-offset-2 col-sm-offset-2">

                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;">
                        <input type="text" name="b_9fc8aa205b0521b5f05fc8e1e_ae0fb459fc" tabindex="-1" value="">
                    </div>
                    <span class="bordered">
                        <a href=" https://goo.gl/forms/QHVlNXHwFAJWq6J03 " class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">Зарегистрироваться</a>
                    </span>

            </div>
        </div>
    </div>
</section>
<!-- End Subscribe Section -->
